.App {
  text-align: center;
}

.homeImg {
  width: 40vh;
  height: 25vw;
  /* object-fit: contain; */
}

nav {
  height: 15vh;
  width: 100%;
  background-image: linear-gradient(#6c63ff, #f9fafb);
  color: #f9fafb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

footer {
  height: 13vh;
  width: 100%;
  background-image: linear-gradient(#f9fafb, #6c63ff);
  color: #f9fafb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

:link {
  text-decoration: none;
}
