:root {
  --green: #5f6c11;
  --dark-yellow: #fbc11a;
  --light-yellow: #fade98;
  --grey: #eae7e0;
  --blue: #4d9699;
  --med-blue: #2e5a5c;
  --dark-blue: #080f0f;
}

.App {
  text-align: center;
  background-color: var(--grey);
}

.homeImg {
  object-fit: cover;
}

#firstHomeImg {
  height: 90%;
  width: 85%;
}

#loginImg {
  height: 200%;
  width: 100%;
  margin-top: 6%;
  margin-bottom: 6%;
}

#signUpImg {
  height: 170%;
  width: 90%;
  margin-top: 5%;
}

/* nav {
  height: 15vh;
  width: 100%;
  background-image: linear-gradient(#6c63ff, #f9fafb);
  color: #f9fafb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
} */

/* footer {
  height: 13vh;
  width: 100%;
  background-image: linear-gradient(#f9fafb, #6c63ff);
  color: #f9fafb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}  */

:link {
  text-decoration: none;
}
